* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
  }

body {
    background-color: #0D1B2A;
    color: #DCEDFF;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }

button{
  width: 200px;
  height: 200px;
}
  